/* colores */

:root {
    --ground-color: #9e8451;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif !important;
}

section p{
    font-size: 20px !important;
}

.navbar {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.navbar .container{
    margin: 0 0 0 2rem;
    text-align: center;
    max-width: 100%;
}

.navbar-nav{
    margin-right: 4rem;
}

.logo {
    max-height: 5rem;
    object-fit: contain;
}

.navbar-nav .nav-link {
    color: var(--ground-color) !important;
    font-size: 1.5rem;
}

.navbar-toggler i{
    color: var(--ground-color) !important;
    font-size: 2rem;
}
.header {
    height: 100vh;
    background-image: url('../img/2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-blend-mode: soft-light;
    background-color: #353535c2 !important;
}
.header h1 {
    font-size: 3.5rem;
    text-shadow: 26px 8px 10px rgba(0,0,0,0.86);
}

.header a{
    font-size: 1.2rem;
}

.container p{
    font-size: 1.5rem;
}

.section {
    padding: 60px 0;
}
.section-title {
    margin-bottom: 40px;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    color: #333;
}
.section-title-carousel {
    margin-bottom: 40px;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
}
.section-title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--ground-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.service-icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--ground-color);
}

.cta{
    background-color: var(--ground-color);
    color: #fff;
}

.cta p{
    font-size: 1.7rem !important;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.contact {
    background-color: #e4e3e3;
}

.link-contact{
    color: #23cd63;
}


/* ------------ boton whatsapp -------------------*/
    
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

/* ---------- carousel ------------- */

.section-carousel {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    
}

.carousel-item img {
    height: 100vh; /* Altura del 50% del viewport height (ajústalo según tus necesidades) */
    width: auto; /* Ancho automático para mantener la proporción */
    object-fit: contain; /* Mantiene la relación de aspecto de la imagen y asegura que se ajuste dentro del contenedor */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    display: block; /* Asegura que las imágenes se comporten como bloques */
  }

  .carousel-control-prev-icon {
    filter: invert(100%); /* Invierte el color del icono */
  }
  
  /* Cambiar color del ícono "Next" */
  .carousel-control-next-icon {
    filter: invert(100%); /* Invierte el color del icono */
  }

  /* ------ gallery ------ */

  .gallery h4{
    font-size: 2rem;
  }

/** --------------------------animaciones----------------------*/
    
.animacion-arriba {
    opacity: 0;
    transition: all 0.7s;
}

.animacion-arriba-servicios {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-abajo {
    opacity: 0;
    transition: all 0.7s;
}

.animacion-abajo-servicios {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-derecha {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-izquierda {
    opacity: 0;
    transition: all 0.7s;
}

.mostrar-arriba {
    animation: mostrar-arriba 1s;
}

@keyframes mostrar-arriba {
    0% {
        transform: translateY(7rem);
    }
    100% {
        transform: translateY(0);
    }
}

.mostrar-abajo {
    animation: mostrar-abajo 1s;
}

@keyframes mostrar-abajo {
    0% {
        transform: translateY(-7rem);
    }
    100% {
        transform: translateY(0);
    }
}

.mostrar-derecha {
    animation: mostrar-derecha 1s;
}

@keyframes mostrar-derecha {
    0% {
        transform: translateX(9rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

.mostrar-izquierda {
    animation: mostrar-izquierda 1s;
}

@keyframes mostrar-izquierda {
    0% {
        transform: translateX(-9rem);
    }
    100% {
        transform: translateX(0rem);
    }
}
